<div class="main-wrapper" fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex="1 1 70%" class="left-side-container">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h1 class="banner-title">Manage your work in spreadsheets</h1>
            <div class="left-side-background left-side-basic"></div>
        </div>
    </div>
    <div fxFlex="1 1 30%">
        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>Log In</mat-card-title>
            </mat-card-header>
            <form class="example-form">
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Username">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password" [type]="hide2 ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </mat-form-field>
                </mat-card-content>
                <button mat-stroked-button color="accent" (click)="signIn()" class="btn-block">Sign-in</button>
            </form>
        </mat-card>
    </div>
</div>