table {
    width: 80%;
}

button {
    margin: 16px 8px;
}

.filter-container {
    margin-bottom: 30px;
    min-width: 20%;
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

// ul {
//     list-style-type: none !important;
//     margin-top: 4px;
// }

.example-margin {
    position: relative;
    margin: 0px 10px;
}

.option-dropdown-styling {
    min-width: 50%;
}

.table-wrapper-scrollbar {
    overflow-x: scroll;
    max-height: 100%;
    max-width: 70%;
    overflow-y: scroll;
    border-radius: 10px;
    margin-top: 20px;
}

th.mat-header-cell {
    min-width: 130px;
}

.example-full-width-custom {
    width: 50%;
}

.filter-panel-custom-buttons {
    min-width: 77px;
}

.table-min-width-styling {
    // min-width: 2000px;
}
