<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Edit user details</mat-card-title>
        </mat-card-header>
        <form class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" disabled value="Cham Hui">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" value="cham.adonis@gmail.com">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" value="Google">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Confirm Password" [type]="hide2 ? 'password' : 'text'" value="Google">
                    <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Choose Role</mat-label>
                    <mat-select>
                        <mat-option [value]="user" *ngFor="let user of User">{{user}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block">Register</button>
        </form>
    </mat-card>
</div>